<nav class="navbar navbar-default navbar-fixed-top unselectable hidden-print">
    <div class="navbar-header">
        <a class="navbar-brand pull-left" href="<%- serverURL %>/"><i class="fa fa-file-text"></i> CodiMD</a>
    </div>
</nav>

<!-- search form //-->
<div class="input-group" style="width:40em; margin: 3em auto;">
<input class="form-control input-sm" type="text" placeholder="<%= __('Search') %>" id="search-word">
<span class="input-group-btn">
  <button class="btn btn-default btn-sm" type="button" id="search-button"">
  <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</span>
</div>
